<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoL_Info.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LoL_Info.Properties.Settings>
            <setting name="PlayerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Region" serializeAs="String">
                <value>ru</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>ru-RU</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RegionFullName" serializeAs="String">
                <value>Россия</value>
            </setting>
            <setting name="CultureFullName" serializeAs="String">
                <value>Русский</value>
            </setting>
            <setting name="CurrentKDA" serializeAs="String">
                <value>10</value>
            </setting>
        </LoL_Info.Properties.Settings>
    </userSettings>
</configuration>